html {
    /* scroll-snap-type: y proximity; */
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scroll-padding-top: 100xp;
}

body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    color: white;
    background-color: #2d4375;
    /* padding-right: 100px;
    padding-left: 55px; */
}

h1,
h2,
h3,
h4,
p,
a,
button,
input,
textarea {
    font-family: "Montserrat", sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
}

h1 {
    font-size: 90px;
    font-weight: 600;
}

h2 {
    font-size: 60px;
    font-weight: 500;
}

h3 {
    font-size: 55px;
}

h4 {
    font-size: 45px;
    line-height: 70px;
}

p {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: white;
}

button {
    color: #2d4375;
    font-size: 25px;
}

button:focus {
    outline: 0;
}

.overlay {
    background-color: #2d4375;
    opacity: 0.6;
}

.rtl {
    direction: rtl;
    text-align: right;
}

.ltr {
    direction: ltr;
    text-align: left;
}
